<div *ngIf="submission$ | async as submission" class="container mat-elevation-z8 py-3">
  <mat-progress-bar *ngIf="submission.status === statuses.NotChecked" mode="buffer" class="my-2"></mat-progress-bar>
  <div class="row">
    <div class="d-flex gutter-condensed-fluid gutter-md-spacious-fluid col-12 flex-justify-between text-center">
      <div class="col-6 col-sm-4 col-md-3">
        <h6>Problem</h6>
        <a class="text-muted" [routerLink]="['/problems', submission.exerciseId]">
          <u>{{submission.exerciseTitle}}</u>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <h6>Submitted at</h6>
        <span class="text-muted">{{submission.submittedAt | date:'short'}}</span>
      </div>
      <div class="col-sm-4 col-md-3 d-none d-md-block">
        <h6>Language</h6>
        <span class="text-muted">{{language}}</span>
      </div>
      <div class="col-3 d-none d-sm-block">
        <h6>Submitter</h6>
        <a class="text-muted" [routerLink]="['/users', submission.submitterId]">
          <u>{{submission.submitterName}}</u>
        </a>
      </div>
    </div>
  </div>
  <hr />
  <div class="row mt-4" *ngIf="submission.status !== statuses.NotChecked">
    <div class="d-flex gutter-condensed-fluid gutter-md-spacious-fluid col-12 flex-justify-between text-center">
      <div class="col-12 col-md-4">
        <div class="box" [style]="getAcceptanceStyle(submission)">
          <h5 class="d-flex justify-content-center align-items-center h-100">{{submission.score}} %</h5>
        </div>
        <p class="m-0 mt-2 text-mono text-white-fade f6-mktg">Acceptance</p>
      </div>
      <div class="col-12 col-md-4">
        <div class="box" [style]="getDurationStyle(submission, duration)">
          <h5 class="d-flex justify-content-center align-items-center h-100">{{duration}} ms</h5>
        </div>
        <p class="m-0 mt-2 text-mono text-white-fade f6-mktg">Duration</p>
      </div>
      <div class="col-12 col-md-4 d-md-block">
        <div class="box" [style]="getMemoryStyle(submission, memory)">
          <h5 class="d-flex justify-content-center align-items-center h-100">{{memory}} MiB</h5>
        </div>
        <p class="m-0 mt-2 text-mono text-white-fade f6-mktg">Memory</p>
      </div>
    </div>
  </div>

</div>
