<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'sb.title.long' }}</h1>
      <div class="actions">
        <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary" routerLink="../feature-list">
          {{ 'sb.menu.features'  }}
        </a>
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">

      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="follow-releases" [ngClass]="routeAnimationsElements">
    <h2>{{ 'sb.about.get-notified.title'  }}</h2>
    <p>
      {{ 'sb.about.get-notified.follow'  }} <a href="https://www.twitter.com/releasebutler" rel="noopener noreferrer" target="_blank">Release
        Butler</a>
      {{ 'sb.about.get-notified.description'  }}
    </p>

    <img [src]="releaseButler" alt="Release Butler tweet example">
  </div>
</div>
