<div class="container" >
  <div class="h-100 d-flex align-items-center justify-content-center" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  
  <div class="row mat-elevation-z8 justify-content-center">
    <mat-nav-list  class="w-100">
      <mat-list-item *ngFor="let item of items">
         <a matLine [routerLink]="getLink(item)" class="py-2 d-flex align-items-center">
           <span class="logo"></span>
           <span>{{item.title}}</span>
           <small class="ml-auto">
              {{item.startDate | date:'dd.MM.yyyy h:mm:ss'}}
              <br/>
              {{item.finishDate | date:'dd.MM.yyyy h:mm:ss'}}
           </small>
         </a>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>


