<div class="container mat-elevation-z8">
  <div class="h-100 d-flex align-items-center justify-content-center" *ngIf="false">
    <mat-spinner></mat-spinner>
  </div>

  <div class="table-container">
    <mat-table [dataSource]="data.items" matSort style="height: calc(100% - 59px);">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button (click)="createAlliance()">
            <mat-icon aria-label="Create">add</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell  *matHeaderCellDef mat-sort-header><mat-icon class="mr-2">topic</mat-icon>Title</mat-header-cell>
        <mat-cell  *matCellDef="let row">

          {{row.title}}
        </mat-cell>
      </ng-container>

      <!-- Leader Column -->
      <ng-container matColumnDef="leader">
        <mat-header-cell  *matHeaderCellDef mat-sort-header><mat-icon class="mr-2">person</mat-icon>Leader</mat-header-cell>
        <mat-cell  *matCellDef="let row">
          {{row.leader}}
        </mat-cell>
      </ng-container>

      <!-- Rating Column -->
      <ng-container matColumnDef="rating">
        <mat-header-cell  *matHeaderCellDef mat-sort-header><mat-icon class="mr-2">trending_up</mat-icon> Rating</mat-header-cell>
        <mat-cell  *matCellDef="let row">
          {{row.rating}}
        </mat-cell>
      </ng-container>

      <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="row.id"></mat-row>
    </mat-table>

    <mat-paginator [length]="data.totalCount" [pageSize]="10"></mat-paginator>
  </div>
</div>
