<div class="container">
  <div class="row mat-elevation-z4">
    <mat-tab-group class="w-100">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>domain_verification</mat-icon>
          Details
        </ng-template>
        <sb-challenge-details></sb-challenge-details>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>pending_actions</mat-icon>
          Tasks
        </ng-template>
        <sb-challenge-tasks></sb-challenge-tasks>
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>people</mat-icon>
          Ranking
        </ng-template>
        <sb-challenge-participants></sb-challenge-participants>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>