<div class="container-lg mat-elevation-z8 pt-3 mb-3">
  <div class="row justify-content-center">
    <h2>My Challenges</h2>
  </div>
  <div class="row justify-content-around">
    <div class="col-5 p-3 border">
      <h4 class="pb-3 text-center border-bottom">Active Duels</h4>
      <div class="row px-3">
        <sb-acceptance-list [buttons]="[]"
                            [entities]="duels"
                            [loading]="duelsLoading"
                            (clicked)="redirectToDuel($event)"
        ></sb-acceptance-list>
      </div>
    </div>
    <div class="col-5 p-3 border">
      <h4 class="pb-3 text-center border-bottom">Requests</h4>
      <div class="row px-3">
        <sb-acceptance-list [entities]="requests"
                            [loading]="requestsLoading"
                            (rowClicked)="redirectToDuel($event)"
        ></sb-acceptance-list>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center col-12 my-3">
      <button class="btn btn-primary w-75" (click)="createDuel()">New Duel</button>
    </div>
  </div>
</div>