<div class="container">
  <div class="row mat-elevation-z4">
    <mat-tab-group class="w-100">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mr-1">leaderboard</mat-icon>
          Personal
        </ng-template>
        <sb-personal-ranking  [ranking]="service.users$| async"
                              [loading]="service.usersLoading$| async"
                              (dataRequested)="onUserDataRequested($event)"
        ></sb-personal-ranking>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mr-1">groups</mat-icon>
          Alliances
        </ng-template>
        <sb-alliance-ranking  [ranking]="service.alliances$ | async"
                              [loading]="service.alliancesLoading$ | async"
                              (dataRequested)="onAllianceDataRequested($event)"
        ></sb-alliance-ranking>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
