<div class="container-lg mt-4">
  <div class="row justify-content-center mb-3">
    <h2>Admin panel</h2>
  </div>
  <div class="row justify-content-around">
    <div class="col-5 p-3 border">
      <h4 class="mb-3">Users requests</h4>
      <div class="row">
        <mat-list class="w-100 mat-nav-list" >
          <mat-list-item *ngFor="let folder of ['1', '2', '3', '4']">
            <button mat-icon-button color="accent">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>close</mat-icon>
            </button>
            <div mat-line>{{folder}}</div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="col-5 p-3 border">
      <h4 class="mb-3">Challenge requests</h4>
      <div class="row">
        <mat-list class="w-100 mat-nav-list" >
          <mat-list-item *ngFor="let folder of ['1', '2', '3', '4']">
            <button mat-icon-button color="accent">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>close</mat-icon>
            </button>
            <div mat-line>{{folder}}</div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>