<div class="container-lg mt-4">
  <div class="row justify-content-center mb-3">
    <h2>Admin panel</h2>
  </div>
  <div class="row justify-content-around">
    <div class="col-5 p-3 border">
      <h4 class="pb-3 text-center border-bottom">Users requests</h4>
      <div class="row px-3">
        <sb-acceptance-list [entities]="users"
                            (btnClicked)="usersListClicked($event)"
        ></sb-acceptance-list>
      </div>
    </div>
    <div class="col-5 p-3 border">
      <h4 class="pb-3 text-center border-bottom">Challenge requests</h4>
      <div class="row px-3">
        <sb-acceptance-list [entities]="challengeRequests$ | async"
                            [titleGetter]="challengeRequestNameGetter"
                            [loading]="challengeRequestsLoading$ | async"
                            (btnClicked)="challengesListClicked($event)"
        ></sb-acceptance-list>
      </div>
    </div>
  </div>
  <div class="row justify-content-center m-3">
    <button class="btn btn-primary w-75" (click)="createChallenge()">New Challenge</button>
  </div>
</div>
