<sb-modal (confirm)="onConfirm()" [title]="actionName + ' Alliance'">
  <form [formGroup]="form">
    <mat-form-field class="w-100">
      <mat-label>Alliance name</mat-label>
      <input matInput placeholder="Name" formControlName="title">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Alliance Description</mat-label>
      <textarea matInput 
                cdkTextareaAutosize
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="5"
                placeholder="Ex. The best alliance ever..." formControlName="description"></textarea>
    </mat-form-field>
  </form>
</sb-modal>