<div class="table-container">
  <mat-table [dataSource]="ranking$ | async" style="height: calc(100% - 59px);">
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef><span class="mx-2">Alliance</span></mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index">
        <span class="mx-1">{{row.alliance.title}}</span>
        <ng-container *ngIf="i < 3" [ngSwitch]="i">
          <mat-icon class="gold" *ngSwitchCase="0">emoji_events</mat-icon>
          <mat-icon class="silver" *ngSwitchCase="1">emoji_events</mat-icon>
          <mat-icon class="bronze" *ngSwitchCase="2">emoji_events</mat-icon>
        </ng-container>

      </mat-cell>
    </ng-container>

     <!-- Total Column -->
     <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.totalScore}}</mat-cell>
    </ng-container>


    <ng-container *ngFor="let task of taskList" [matColumnDef]="task.title">
      <mat-header-cell [matTooltip]="task.title"  *matHeaderCellDef>{{task.title | titlecase}}</mat-header-cell>
      <mat-cell  *matCellDef="let row">{{row.scoreDict[task.id] || '—'}}</mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
