@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@mixin sb-styles-reset-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  a {
    color: mat.get-color-from-palette($foreground, text);

    // &:hover {
    //   color: mat.get-color-from-palette($accent);
    // }
  }

  blockquote {
    border-left: 3px solid mat.get-color-from-palette($primary, lighter);
  }

  hr {
    border-top: 1px solid mat.get-color-from-palette($primary, lighter);
  }

  p {
    a {
      color: mat.get-color-from-palette($accent);

      &:hover {
        color: mat.get-color-from-palette($accent, darker);
      }
    }
  }

  .border {
    border: solid 1px rgba(255, 255, 255, 0.12) !important;
    border-radius: 4px;
  }

  .list-row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  }

  .card {
    background-color: #ffffff0f !important;
  }

  .gold {
    color: #FFD700;
  }

  .silver {
    color: #D3D3D3;
  }

  .bronze {
    color: #CD7F32;
  }

  mat-row:hover {
    background: rgba(0,0,0,0.1);
    cursor: pointer;
  }

}
