* {
  &:active,
  :focus {
    outline: none !important;
  }
}

code {
  white-space: nowrap;
  border-radius: 10px;
  padding: 0 8px 1px 8px;
}

blockquote {
  word-break: break-all;
  padding-left: 12px;
}

p {
  a {
    border-bottom: 3px solid;
  }
}

router-outlet ~ * {
  height: 100%;
  display: block;
}


.loading-shade {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
