<div class="table-container">
  <mat-table [dataSource]="ranking$ | async" style="height: calc(100% - 59px);">

    <!-- Rank Column -->
    <ng-container matColumnDef="rank">
      <mat-header-cell *matHeaderCellDef>Rank</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.rank}}</mat-cell>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef><span class="mx-2">Username</span></mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index">
        <span class="mx-1">{{row.username}}</span>
        <ng-container *ngIf="i < 3" [ngSwitch]="i">
          <mat-icon class="gold" *ngSwitchCase="0">emoji_events</mat-icon>
          <mat-icon class="silver" *ngSwitchCase="1">emoji_events</mat-icon>
          <mat-icon class="bronze" *ngSwitchCase="2">emoji_events</mat-icon>
        </ng-container>
      </mat-cell>
    </ng-container>

    <!-- Problems Column -->
    <ng-container matColumnDef="problems">
      <mat-header-cell  *matHeaderCellDef>Problems</mat-header-cell>
      <mat-cell  *matCellDef="let row">
        {{row.problems}}
      </mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
