

<div class="container-lg mt-5" *ngIf="!(loading$ | async); else loading">
  <div class="row" *ngIf="allianceDetails$ | async as alliance">
    <div class="col-3 d-block text-center">
      <div class="image-box m-auto mb-4">
        <img class="image" src="../../../../../assets/logo.png">
        <div *ngIf="alliance.userType === userTypes.Manager" class="overlay" (click)="fileInput.click()" >
          <input hidden #fileInput  type="file" accept="image/*" (change)="changePhotoClicked($event)" /> -->
          <div class="text"><mat-icon>photo_camera</mat-icon></div>
        </div>
      </div>

      <ng-container [ngSwitch]="alliance.userType">
        <button *ngSwitchCase="userTypes.VisitorWithoutAlliance" class="btn btn-primary w-75 m-3" (click)="applyAlliance(alliance.id)" >Apply</button>
        <button *ngSwitchCase="userTypes.Member" class="btn btn-secondary w-75 m-3" (click)="leaveAlliance(alliance.id)">Leave</button>
        <button *ngSwitchCase="userTypes.Manager" class="btn btn-danger w-75 m-3" (click)="deleteAlliance(alliance.id)">Delete</button>
      </ng-container>

      <a [routerLink]="['challenges']" class="btn btn-primary w-75 m-3">Challenges</a>
      <a *ngIf="alliance.userType === userTypes.Manager" [routerLink]="['admin']" class="btn btn-primary w-75 m-3">Manage</a>
    </div>

    <div *ngIf="allianceDetails$ | async as alliance" class="col-9">
      <div class="d-flex align-items-center pb-2 mb-2 border-bottom">
        <button *ngIf="alliance.userType === userTypes.Manager" mat-mini-fab color="primary" (click)="editAlliance(alliance)">
          <mat-icon>edit</mat-icon>
        </button>
        <h3 class="m-0 ml-3">{{alliance.title}}</h3>
      </div>

      <div class="row my-3">
        <div class="col-8">
          <p class="lead ">{{alliance.description}}</p>
        </div>
        <div class="col-4">
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed bg-dark text-white">
              <div>
                <h6 class="my-0">Leader: </h6>
              </div>
              <span>{{alliance.leader}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed bg-dark text-white">
              <div>
                <h6 class="my-0">Ranking: </h6>
              </div>
              <span>{{alliance.rating}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed bg-dark text-white">
              <div>
                <h6 class="my-0">Date of creation:</h6>
              </div>
              <span>{{alliance.creationDate | date:'dd.MM.yyyy'}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loading-shade">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
