<div class="container-lg mt-5">
  <div class="row">
    <div class="col-3 d-block text-center">
      <div class="image-box m-auto mb-4">
        <img class="image" src="../../../../../assets/logo.png">
        <div *ngIf="isAllianceManager$ | async" class="overlay" (click)="changePhotoClicked()" >
          <div class="text"><mat-icon>photo_camera</mat-icon></div>
        </div>
      </div>

      <button *ngIf="!(isAllianceParticipant$ | async); else participant" class="btn btn-primary w-75 m-3">Apply</button>
      <ng-template #participant>
        <button class="btn btn-secondary w-75 m-3">Leave</button>
        <a [routerLink]="['challenges']" class="btn btn-primary w-75 m-3">Challenges</a>
      </ng-template>


      <a *ngIf="isAllianceManager$ | async" [routerLink]="['admin']" class="btn btn-primary w-75 m-3">Manage</a>
    </div>
    <div *ngIf="allianceDetails$ | async as alliance" class="col-9">
      <div class="d-flex align-items-center pb-2 mb-2 border-bottom">
        <button *ngIf="isAllianceManager$ | async" mat-mini-fab color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <h3 class="m-0 ml-3">{{alliance.title}}</h3>
      </div>

      <div class="row my-3">
        <div class="col-8">
          <p class="lead ">{{alliance.description}}</p>
        </div>
        <div class="col-4">
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed bg-dark text-white">
              <div>
                <h6 class="my-0">Leader: </h6>
              </div>
              <span>{{alliance.leader}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed bg-dark text-white">
              <div>
                <h6 class="my-0">Ranking: </h6>
              </div>
              <span>{{alliance.rating}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed bg-dark text-white">
              <div>
                <h6 class="my-0">Date of creation:</h6>
              </div>
              <span>{{alliance.creationDate | date:'dd.MM.yyyy'}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
