<div class="container mat-elevation-z8">
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div class="table-container pt-2">
    <div class="row">
      <div class="col-12">
        <!-- <mat-form-field class="example-full-width">
          <mat-label>Title</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
        <mat-form-field>
          <mat-label>Difficulty</mat-label>
          <mat-select>
            <mat-option>All</mat-option>
            <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">
              {{getDifficultyName(difficulty)}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-table [dataSource]="data.items" matSort matSortDirection="desc">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell  *matHeaderCellDef>#</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell  *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
        <mat-cell  *matCellDef="let row">{{row.title}}</mat-cell>
      </ng-container>

      <!-- Difficulty Column -->
      <ng-container matColumnDef="difficulty">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Difficulty</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="badge rounded-pill" [class]="getDifficultyCssClass(row.difficulty)"> 
            {{ getDifficultyName(row.difficulty) }}
          </span>
        </mat-cell>
      </ng-container>

      <!-- Max Score -->
      <ng-container matColumnDef="maxScore">
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Score
        </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.maxScore}}</mat-cell>
      </ng-container>

      <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="getLink(row)"></mat-row>
    </mat-table>
  </div>

  <mat-paginator [length]="data.totalCount" [pageSize]="10"></mat-paginator>
</div>
