$sb-black-primary: mat-palette($mat-grey, 700, 300, 900, A100);
$sb-black-accent: mat-palette($mat-cyan, 500);
$sb-black-warn: mat-palette($mat-red, 500);


$sb-black-theme: mat-dark-theme(
  $sb-black-primary,
  $sb-black-accent,
  $sb-black-warn
);
