@use '~@angular/material' as mat;
$sb-light-primary: mat.define-palette(mat.$grey-palette, 200, 500, 300);
$sb-light-accent: mat.define-palette(mat.$brown-palette, 200);
$sb-light-warn: mat.define-palette(mat.$deep-orange-palette, 200);

$sb-light-theme: mat.define-light-theme(
  $sb-light-primary,
  $sb-light-accent,
  $sb-light-warn
);
