@use '~@angular/material' as mat;
$sb-nature-primary: mat.define-palette(mat.$brown-palette, 700, 300, 900);
$sb-nature-accent: mat.define-palette(mat.$deep-purple-palette, 300);
$sb-nature-warn: mat.define-palette(mat.$red-palette, 600);

$sb-nature-theme: mat.define-light-theme(
  $sb-nature-primary,
  $sb-nature-accent,
  $sb-nature-warn
);
